@import '../../../shared/styles/colors.scss';

.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $t-black;

    .tabContainer {
        display: flex;
        justify-content: space-between;
        .tabTitle {
            margin: 10px;
            text-decoration: none;
            background: transparent;
            border: none;
            font-size: 20px;
        }

        .active {
            color: $t-green;
            border-bottom: 3px solid $t-green;
        }

        .inactive {
            color: white;
        }

        .tabTitle:hover {
            cursor: pointer;
            color: $t-purple;
        }
    }
}