@import '../../shared/styles/colors.scss';

.bidHeader {
    background-color: $t-black;
    border-bottom: 1px solid $t-gray-secondary;
    padding: 10px 10px 10px 10px;

    .playerImage {
        float: left;
    }

    .rightContainer {

        display: flex;
        justify-content: center;
        align-items: center;

        .addButton {
            border-radius: 50%;
            font-size: x-large;
            color: $t-white;
            background-color: $t-green;
        }

        .soldText { 
            outline: 2px solid $t-purple;
            color: $t-purple;
            border-radius: 5px;
            font-size: 20px;
            font-weight: bold;
            padding: 5px;
        }
    }
}