$t-black: #16161a;
$t-b-black: #404040;
$t-purple: #7f5af0;
$t-white: #fffffe;
$t-gray: #94a1b2;
$t-green: #2cb67d;
$t-gray-secondary: #72757e;
$t-outline: #010101;

$red: #ED254E;
$white: #FFF8F0;
$cream: #FFCF99;
$blue: #011936;
$green: #C2EABD;
$yellow: #F9DC5C;
$rgreen: #6e6a3b;
