@import '../../shared/styles/colors.scss';
@import '../../shared/styles/shared.scss';

.loginContainer {
    display: flex;

    .mediaContent {
        background-color: black;
        height: 100vh;
        flex-grow: 1.5;
    }

    .loginFormContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $t-b-black;
        height: 100vh;
        flex-grow: 2;

        .loginForm {
            display: flex;
            flex-direction: column;
            justify-self: center;
            margin-left: 30px;        
            
            .loginInput {
                max-width: 500px;
            }
        
        }

        .loginButton {
            @extend .sharedButton;
            margin-left: 30px;
            margin-top: 20px;
        }
    
        .loginText {
            display: flex;
            font-size: 20px;
            margin-left: 30px;
            margin-top: 30px;
            .link {
                margin-left: 7px;
                color: $t-green;
            }
        }
    }
}