@import '../../shared/styles/colors.scss';
@import '../../shared/styles/shared.scss';
@import '../../shared/styles/breakpoints.scss';

.loginContainer {
    display: flex;
    height: 100%;
    width: 100%;

    @include md {

        .mediaContent {
            background-color: black;
            height: 100vh;
            flex-grow: 1.5;
        }
        
    }

    .loginFormContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $t-b-black;
        height: 100vh;
        flex-grow: 2;
        padding-left: 10vw;

        .loginForm {
            display: flex;
            flex-direction: column;
            justify-self: center;
        }

        .loginButton {
            @extend .sharedButton;
            margin-top: 1vh;
        }
    
        .loginText {
            display: flex;
            font-size: 1rem;
            margin-top: 2vh;
            .link {
                margin-left: .3rem;
                color: $t-green;
            }
        }
    }
}