@import '../../shared/styles/colors.scss';
@import '../../shared/styles/shared.scss';
@import '../../shared/styles/breakpoints.scss';

.registrationBackground{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $t-black;
    height: 100vh;
    width: 100vw;

    .registrationContainer {

        @include xs {
            height: 100vh;
            width: 100vw;
            overflow-y: scroll;
        }

        @include md {
            max-height: 80%;
            max-width: 70%;
            overflow-y: hidden;
        }
        
        background-color: $t-b-black;
        padding-top: 1vh;
        padding-left: 10vw;
        padding-right: 5vw;
        border-radius: 1vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .appTitle {
            margin-bottom: 1vh;
        }

        .formTitle {
            font-size: 1.5rem;
        }

        .formSection {

            @include xs { 
                display: flex;
                flex-direction: column;

                .sectionTitle { 
                    display: none;
                }
            }

            @include md { 
                display: flex;
                justify-content: flex-start;
                flex-direction: row;

                .sectionTitle { 
                    display: inline;
                    margin-right: 1vw;
                }
            
                .formInput {
                    flex-grow: 1;
                }
            }

            .sectionTitle { 
                color: white;
            }
        
            .formInput {
                flex-grow: 1;
            }
        }
    }

    .backToLogin {
        margin-top: 10px;
    }
}