@import '../../../shared/styles/colors.scss';

.titleContainer {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    font-size: 14px;
    margin: 5px;
    max-width: 200px;

    .titleIcon {
        color: $t-green;
        margin: 7px;
    }

    .titleContainer {
        font-weight: bold;
    }
}