@import '../../../shared/styles/colors.scss';

.titleContainer {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    
    .titleIcon {
        color: $t-green;
        margin: 3px;
    }

    .title { 
        margin: 3px;
        font-size: 2.3rem;
    }

    .titleContainer {
        font-weight: bold;
    }
}