@import '../../../shared/styles/colors.scss';

.inputContainer {

    .label {
        color: white;
        font-size: 20px;
        margin-bottom: 3px;
    }

    .input {
        border: 1px solid $t-green;
        border-radius: 5px;
        font-size: 20px;
        padding-left: 10px;
        margin-bottom: 20px;
        margin-right: 30px;
        width: 100%;
    }

    .input:focus {
        outline: none;
    }
}