@import '../../../shared/styles/colors.scss';
@import '../../../shared/styles/breakpoints.scss';



.titleLink {
    text-decoration: none;
    margin-left: 10px;
}

.tabTitle {
    margin: 10px;
    text-decoration: none;
    background: transparent;
    border: none;
    font-size: 1.3em;
}

.active {
    border-bottom: 3px solid $t-green;
}



