@import '../../shared/styles/colors.scss';
@import '../../shared/styles/breakpoints.scss';

.playersContainer {

    @include xs {
        display: none;
    }

    @include md {
        display: block;
    }

    margin: 10px;
    border-radius: 5px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: $t-black;
    scrollbar-color: dark;
    align-self: stretch;
}